/* About.css */

/* General body styles */


/* Container styles */
.container {
    width: 100%;
    height: 100%;
    margin :20px;
}

/* iFrame styles */
iframe {
    border: 0;
    width: 600px;
    height: 450px;
}

